

.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(234, 170, 225);
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin: 3px;
    padding: 6px;
    margin-top: 8px;
    text-emphasis-color: rgb(230, 228, 228);
    

}

.header{
background-image: url(../images/image\ for\ website.jpg);
height: 300px;
padding: 30px;
background-size: cover;
box-shadow: 0px 4px 8px rgb(139, 132, 139);
margin: 30px;
}

.navbar a{
    color: rgb(12, 12, 12);
}

.pic{
    margin-top: 30px;
}

.bigpic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2px;
}

.footer{
    margin: 20px;
    width: 100%;
}

.body{
    width: 300px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
}

.contact{
    text-align: center;
    background-image: url(../images/design.jpg);
    padding: 10px;
    box-sizing: border-box;
    
    
    
}

.html{
    font-size: 62.5%;
    font-family: sans-serif;
    scroll-behavior: smooth;
}


/* 
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75rem;
    height: 10rem;
    background: #f8d1f8;
} */

.iconcart{
    width: 6rem;
    border-radius: 50%;
}
.iconcarthover{
    transition: 1s;
    
}

.tranding{
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
}

slidershadowleft
  slidershadowright{
    display: none;
  }  
input{
    line-height: 5px;
    gap: 5px
    ;
}
